<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Front_Trips.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap">
    <title>Travisa - Trips</title>
    <title>Trips</title>
</head>
<body>
    <!------------------HEADER------------------>
    <header>
        <!--------------navbar-------------->
        <a href="#" class="logo"><img class="logo" src="img/logo-travisa.png"></a>
        <div class="nav-link">
            <ul class="navbar">
                <li><a href="#home">Home</a></li>
                <li><a href="#destinations">Destinations</a></li>
                <li><a href="#trips" style="font-weight: bold; color: #86BBD8;"; > Trips</a></li>
                <li><a href="voyage.html">Activities</a></li>
            </ul>
        </div>
        <button class="signup-button">Sign Up</button><button class="login-button">Login</button>
    </header>

        <!--------------home-------------->
        <img class="imgbg" src="img/bg.png" >
        <div class="overlay-container">
            <h1 class="title-home"  > Discover,<span> Explore, </span> Wander: Your Next Adventure Awaits!</h1>
            <p class="p-home">We're not just another website; we're your passport to extraordinary experiences. Whether you seek the serene beauty of secluded beaches, the thrill of vibrant city life, or the tranquility of untouched landscapes, we curate journeys that awaken your spirit of adventure.</p>
            <button class="bookhome-button">Book Your Trip Now</button>
        </div>
        <!--------------good morning box-------------->
    <div class="overlay-box">
        <img class="box"  src="img/box.png">
        <h1 class="morningh1">Good morning!</h1>
       <!-- <p class="p-morning">Explore beautiful places in the world with TraVisa.</p> --> 
        <img class="formbox" src="img/form.png">
    </div>

    <!------------------BODY------------------>
        <!--------------destination-------------->
    <h1 class="popular-destinations">Most Popular Destinations</h1>
    <section id="popular-destinations">
        <img class="imgdes1" src="img/desB.png">
        <img class="imgdes2" src="img/desB.png">
        <img class="imgdes3" src="img/desB.png">
    </section> 

<img class="line" src="img/line.png">
        <!--------------explore-------------->
    <h1 class="explore-places">Explore Places</h1>
    <ul class="smallBtns">
        <li><a href="#mountains" style="font-weight: bold; color: #EDAA51;";>Mountains</a></li>
        <li><a href="#Beaches">Beaches</a></li>
        <li><a href="#Icebergs">Icebergs</a></li>
        <li><a href="#View" style="border-bottom: 1px solid #33658A; color:#33658A;">View all</a></li>
    </ul>

    <table  cellspacing="20">
    <tr>
        <td>
            <img class="explore1" src="img/explore.png">
        </td>
        <td>
            <img class="explore1" src="img/explore.png">
        </td>
        <td>
            <img class="explore1" src="img/explore.png">
        </td>
    </tr>
    <tr>
        <td>
            <img class="explore1" src="img/explore.png">
        </td>
        <td>
            <img class="explore1" src="img/explore.png">
        </td>
        <td>
            <img class="explore1" src="img/explore.png">
        </td>
    </tr>
    </table>
        <!--------------lform good morning box-------------->
    <form>
    <div class="form-row">
        <img class="location-btn" src="img/location.png">
        <h4 class="location">Location</h4>
        <input type="text" placeholder="Add Location" id="location">

        <img class="check-in-btn" src="img/calendar.png">
        <h4 class="in">Check-in</h4>
        <input type="Date" placeholder="check-in" id="chech-in">

        <img class="check-out-btn" src="img/calendar.png">
        <h4 class="out">Check-out</h4>
        <input type="Date" placeholder="check-out" id="check-out">

        <img class="guests-btn" src="img/guests.png">
        <h4 class="guest">Guests</h4>
        <input type="number" placeholder="Add guests" min="1" id="guests">
        
        <a href="#" class="search-btn"><img  class="search-btn" src="img/search-icon.png" ></a>
    </div>
    </form>
        <!--------------testimonials-------------->
    <img src="img/Line 4.png" class="line4">
    <h4 class="testimonials">TESTIMONIALS</h4>
    <h1 class="what">What They Say?</h1>
    <p class="comment-p">TraVisa has got more than 100k positive ratings from<br> all around the world.</p>
    <img class="marc" src="img/marc.png">
    <p class="comment-p2">Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.</p>
    <p class="name-p">Gloria Rose</p>

<footer>
    <img class="logo-footer" src="img/logo.png">
    
    <div class="footer-content">
        <div class="footer-text">
            <h4 class="h4-footer">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
            <img class="social-icons" src="img/social-icons.png">
        </div>
        <div class="table-footer2">
            <table>
                <tr >
                    <td>
                        <h4>MENU</h4>
                    </td>
                    <td>
                        <h4>LEGAL</h4>
                    </td>
                    <td>
                        <h4>CONTACT</h4>
                    </td>
                </tr>
                <tr>
                    <td>Home</td>
                    <td>Terms and Conditions</td>
                    <td>support@minimals.cc</td>
                </tr>
                <tr>
                    <td>Team</td>
                    <td>Privacy Policy</td>
                    <td>Los Angeles,359 Hidden Valley Road</td>
                </tr>
                <tr>
                    <td>About us</td>
                    <td></td>
                    <td>+908 89097 890</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><img src="img/flag.png" class="flag"></td>
                </tr>
            </table>
        </div>
    </div>
        <hr class="linehr">
        <div class="containerf">
            <p class="copyright">&copy; 2023 All rights Reserved</p>
        </div>
</footer>
      <script src="home_travisa/view/frontend/js/home.js"></script>
</body>
</html>